In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
imdb_title_basics = pd.read_csv('data/imdb.title.basics.csv.gz')
imdb_title_basics = imdb_title_basics.loc[imdb_title_basics['start_year'] < 2019] # restrict movies between 2010-2018
imdb_title_basics.head(7)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
6,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller"
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy"

In [3]:
imdb_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136702 entries, 0 to 146143
Data columns (total 6 columns):
tconst             136702 non-null object
primary_title      136702 non-null object
original_title     136683 non-null object
start_year         136702 non-null int64
runtime_minutes    109815 non-null float64
genres             131664 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 7.3+ MB

In [4]:
imdb_gen_expand = imdb_title_basics.genres.str.split(",", expand=True)

In [5]:
imdb_title_basics['genres_1']=imdb_gen_expand[0]
imdb_title_basics['genres_2']=imdb_gen_expand[1]
imdb_title_basics['genres_3']=imdb_gen_expand[2]
#imdb_title_basics.drop('genres', axis=1, inplace=True)

In [6]:
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,genres_1,genres_2,genres_3
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Action,Crime,Drama
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,Drama,None,None
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",Comedy,Drama,None
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",Comedy,Drama,Fantasy
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy,Comedy,None,None

In [9]:
imdb_title_basics.set_index('tconst', inplace=True)

In [10]:
imdb_title_basics

,primary_title,original_title,start_year,runtime_minutes,genres,genres_1,genres_2,genres_3
tconst,,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Action,Crime,Drama
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,Drama,None,None
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",Comedy,Drama,None
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",Comedy,Drama,Fantasy
tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy,Comedy,None,None
tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller",Horror,Thriller,None
tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",Adventure,Animation,Comedy
tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History",Documentary,History,None
tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography,Biography,None,None
tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama,Drama,None,None
tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History,History,None,None
tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary,Documentary,None,None
tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama,Drama,None,None
tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary,Documentary,None,None
tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History",Animation,Drama,History
tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,NaN,NaN,NaN,NaN
tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,Drama,None,None
tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama,Drama,None,None
tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery",Drama,Mystery,None
tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy",Action,Animation,Comedy
tt0250404,Godfather,Godfather,2012,NaN,"Crime,Drama",Crime,Drama,None
tt0253093,Gangavataran,Gangavataran,2018,134.0,NaN,NaN,NaN,NaN
tt0255820,Return to Babylon,Return to Babylon,2013,75.0,"Biography,Comedy,Drama",Biography,Comedy,Drama
tt0262218,Akakis mogzauroba,Akakis mogzauroba,2012,44.0,Documentary,Documentary,None,None
tt0262759,Seven Jews from My Class,Siedmiu Zydów z mojej klasy,2018,40.0,Documentary,Documentary,None,None
tt0276568,To Chase a Million,To Chase a Million,2018,97.0,"Action,Drama",Action,Drama,None
tt0277964,Prague: The Restless Heart of Europe,Praha - neklidné srdce Evropy,2018,59.0,"Documentary,History",Documentary,History,None
tt0283440,Short Time Heroes,Kurzzeithelden,2015,45.0,Sci-Fi,Sci-Fi,None,None
tt0285252,Life's a Beach,Life's a Beach,2012,100.0,Comedy,Comedy,None,None
tt0293069,Dark Blood,Dark Blood,2012,86.0,Thriller,Thriller,None,None
...,...,...,...,...,...,...,...,...
tt9906278,A Classic Tour of Scotland: Footloose Special,A Classic Tour of Scotland: Footloose Special,2016,151.0,NaN,NaN,NaN,NaN
tt9906696,Footloose in Italy IV: 4 Rimini Tuscany Rome,Footloose in Italy IV: 4 Rimini Tuscany Rome,2016,150.0,NaN,NaN,NaN,NaN
tt9906844,Footloose in England's Lake District,Footloose in England's Lake District,2017,150.0,NaN,NaN,NaN,NaN
tt9907032,Footloose in London II: 2 Undiscovered and Unu...,Footloose in London II: 2 Undiscovered and Unu...,2018,124.0,NaN,NaN,NaN,NaN
tt9907396,Footloose in the Cotswolds - Part 1,Footloose in the Cotswolds - Part 1,2016,118.0,NaN,NaN,NaN,NaN
tt9907608,Footloose in the Cotswolds - Part 2,Footloose in the Cotswolds - Part 2,2016,102.0,NaN,NaN,NaN,NaN
tt9908448,The Bells of Hell,The Bells of Hell,2018,88.0,"Drama,Fantasy",Drama,Fantasy,None
tt9908592,Filmmakers Unite (FU),Filmmakers Unite (FU),2018,78.0,Documentary,Documentary,None,None
tt9908636,Das Spiel der Hoffnung,Das Spiel der Hoffnung,2017,100.0,Fantasy,Fantasy,None,None
tt9908960,Pliusas,Pliusas,2018,90.0,Comedy,Comedy,None,None
tt9909086,Pheriaa Come Back,Pheriaa Come Back,2018,137.0,Drama,Drama,None,None
tt9909424,Razreshite tebya potselovat... Otets nevesty,Razreshite tebya potselovat... Otets nevesty,2014,90.0,Comedy,Comedy,None,None
tt9909650,Hellbiro,Hellbiro,2018,95.0,Comedy,Comedy,None,None
tt9909940,Hot Scent,Hot Scent,2018,NaN,Family,Family,None,None
tt9910166,Diseño de Sonido para Cine en Argentina,Diseño de Sonido para Cine en Argentina,2014,54.0,Documentary,Documentary,None,None
tt9910206,Facebook idióták - A Mozifilm,Facebook idióták - A Mozifilm,2017,NaN,"Action,Adventure,Comedy",Action,Adventure,Comedy
tt9910238,Be 5min. vede,Be 5min. vede,2017,80.0,"Comedy,Romance",Comedy,Romance,None
tt9910688,"Luz, Câmera e Barreto","Luz, Câmera e Barreto",2018,NaN,Documentary,Documentary,None,None
tt9910922,Doctor Who Augmented Reality: Times Magazine,Doctor Who Augmented Reality: Times Magazine,2013,NaN,NaN,NaN,NaN,NaN
tt9913594,Bacchanalia,Bacchanalia,2017,72.0,"Drama,Mystery,Thriller",Drama,Mystery,Thriller
tt9914642,Albatross,Albatross,2017,NaN,Documentary,Documentary,None,None
tt9914644,9/11: Escape from the Towers,9/11: Escape from the Towers,2018,120.0,Documentary,Documentary,None,None
tt9914662,Wien is 't Hof van Commerce,Wien is 't Hof van Commerce,2018,NaN,Comedy,Comedy,None,None
tt9914828,The War of Godzilla,The War of Godzilla,2015,102.0,"Action,Comedy,Family",Action,Comedy,Family
tt9916132,The Mystery of a Buryat Lama,The Mystery of a Buryat Lama,2018,94.0,"Biography,Documentary,History",Biography,Documentary,History
tt9916186,Illenau - die Geschichte einer ehemaligen Heil...,Illenau - die Geschichte einer ehemaligen Heil...,2017,84.0,Documentary,Documentary,None,None
tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,Documentary,None,None
tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,Comedy,None,None
tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN,NaN,NaN,NaN
tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,Documentary,None,None

In [20]:
imdb_names = pd.read_csv('data/imdb_names_update')
imdb_names.rename(columns={'movie_titles': 'tconst'}, inplace=True)
imdb_names.set_index('tconst', inplace=True)
imdb_names.drop('Unnamed: 0', axis=1, inplace=True)

In [21]:
imdb_names.head()

,primary_name,nconst,primary_profession
tconst,,,
tt0837562,Mary Ellen Bauder,nm0061671,"miscellaneous,production_manager,producer"
tt0896534,Joseph Bauer,nm0061865,"composer,music_department,sound_department"
tt1470654,Bruce Baum,nm0062070,"miscellaneous,actor,writer"
tt0114371,Axel Baumann,nm0062195,"camera_department,cinematographer,art_department"
tt0452644,Pete Baxter,nm0062798,"production_designer,art_department,set_decorator"

### Join IMDB_titles and IMDB_names dataframes

In [22]:
imdb_names.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1580490 entries, tt0837562 to tt4921464
Data columns (total 3 columns):
primary_name          1580490 non-null object
nconst                1580490 non-null object
primary_profession    1580490 non-null object
dtypes: object(3)
memory usage: 48.2+ MB

In [24]:
imdb_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 136702 entries, tt0063540 to tt9916754
Data columns (total 8 columns):
primary_title      136702 non-null object
original_title     136683 non-null object
start_year         136702 non-null int64
runtime_minutes    109815 non-null float64
genres             131664 non-null object
genres_1           131664 non-null object
genres_2           56456 non-null object
genres_3           28070 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 9.4+ MB

In [28]:
imdb_title_names = imdb_title_basics.join(imdb_names, 
                       how='inner')

In [29]:
imdb_title_names.head()

,primary_title,original_title,start_year,runtime_minutes,genres,genres_1,genres_2,genres_3,primary_name,nconst,primary_profession
tconst,,,,,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Action,Crime,Drama,Mahasweta Devi,nm1194313,writer
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Action,Crime,Drama,Anjana Rawail,nm1391276,"writer,costume_designer"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,Drama,None,None,Oja Kodar,nm0462648,"actress,writer,director"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,Drama,None,None,Tom Callaway,nm1152466,"cinematographer,camera_department"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,Drama,None,None,Dax Phelan,nm3902034,"writer,producer,director"