In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
imdb_name_basics = pd.read_csv('data/imdb.name.basics.csv.gz')
imdb_name_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 6 columns):
nconst                606648 non-null object
primary_name          606648 non-null object
birth_year            82736 non-null float64
death_year            6783 non-null float64
primary_profession    555308 non-null object
known_for_titles      576444 non-null object
dtypes: float64(2), object(4)
memory usage: 27.8+ MB

In [3]:
knownfor_expand = imdb_name_basics.known_for_titles.str.split(",", expand=True)

In [4]:
knownfor_expand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 6 columns):
0    576444 non-null object
1    411409 non-null object
2    346811 non-null object
3    303579 non-null object
4    15 non-null object
5    2 non-null object
dtypes: object(6)
memory usage: 27.8+ MB

In [5]:
imdb_name_basics['known_for_titles_1'] = knownfor_expand[0]
imdb_name_basics['known_for_titles_2'] = knownfor_expand[1]
imdb_name_basics['known_for_titles_3'] = knownfor_expand[2]
imdb_name_basics['known_for_titles_4'] = knownfor_expand[3]
imdb_name_basics['known_for_titles_5'] = knownfor_expand[4]
imdb_name_basics['known_for_titles_6'] = knownfor_expand[5]

In [6]:
imdb_name_basics.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles,known_for_titles_1,known_for_titles_2,known_for_titles_3,known_for_titles_4,known_for_titles_5,known_for_titles_6
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553",tt0837562,tt2398241,tt0844471,tt0118553,None,None
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940",tt0896534,tt6791238,tt0287072,tt1682940,None,None
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898",tt1470654,tt0363631,tt0104030,tt0102898,None,None
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387",tt0114371,tt2004304,tt1618448,tt1224387,None,None
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256",tt0452644,tt0452692,tt3458030,tt2178256,None,None

In [7]:
imdb_names_small = imdb_name_basics
imdb_names_small = imdb_names_small.drop(['birth_year', 
                                          'death_year', 
                                          'known_for_titles'], 
                                         axis=1)

In [8]:
imdb_names_melt = pd.melt(imdb_names_small, 
                          id_vars =['primary_name', 
                                    'nconst', 
                                    'primary_profession'], 
                          value_vars =['known_for_titles_1', 
                                       'known_for_titles_2', 
                                       'known_for_titles_3', 
                                       'known_for_titles_4',
                                       'known_for_titles_5', 
                                       'known_for_titles_6'])

In [9]:
imdb_names_small.head()

,nconst,primary_name,primary_profession,known_for_titles_1,known_for_titles_2,known_for_titles_3,known_for_titles_4,known_for_titles_5,known_for_titles_6
0,nm0061671,Mary Ellen Bauder,"miscellaneous,production_manager,producer",tt0837562,tt2398241,tt0844471,tt0118553,None,None
1,nm0061865,Joseph Bauer,"composer,music_department,sound_department",tt0896534,tt6791238,tt0287072,tt1682940,None,None
2,nm0062070,Bruce Baum,"miscellaneous,actor,writer",tt1470654,tt0363631,tt0104030,tt0102898,None,None
3,nm0062195,Axel Baumann,"camera_department,cinematographer,art_department",tt0114371,tt2004304,tt1618448,tt1224387,None,None
4,nm0062798,Pete Baxter,"production_designer,art_department,set_decorator",tt0452644,tt0452692,tt3458030,tt2178256,None,None

In [10]:
imdb_names_melt.drop('variable', inplace=True, axis=1)
imdb_names_melt.dropna(inplace=True)
imdb_names_melt.reset_index(inplace=True)
imdb_names_melt.drop('index', axis=1, inplace=True)

In [11]:
imdb_names_melt.tail(100)

,primary_name,nconst,primary_profession,value
1580390,Emile Desroches-Larouche,nm9108327,"cinematographer,camera_department",tt8958402
1580391,Josh Rousseau,nm9130557,"composer,writer,camera_department",tt7224394
1580392,Rajeev Rajan,nm9139831,actor,tt6774126
1580393,Julitza Berberena,nm9151449,"actress,miscellaneous,assistant_director",tt6865630
1580394,Maisie Cafeo,nm9153988,"production_designer,art_department,art_director",tt9248470
1580395,Pravin Kunwar,nm9154332,"composer,music_department",tt7247688
1580396,Christopher David Burton,nm9160928,actor,tt10355222
1580397,Nathan Dethlefsen,nm9165384,"camera_department,editor,editorial_department",tt7638464
1580398,Amber Akhtar,nm9172134,"writer,assistant_director,miscellaneous",tt7896184
1580399,Eleah Colton,nm9175228,"make_up_department,assistant_director,producer",tt7203368
1580400,William Toti,nm9178501,miscellaneous,tt3741700
1580401,Andrew Stavis,nm9187516,"cinematographer,writer,director",tt8111522
1580402,Pedro García,nm9191426,"director,editor,producer",tt7271162
1580403,Hannah Brooke,nm9197875,"actress,sound_department",tt7246758
1580404,Alejo Alas,nm9215186,"editor,editorial_department,writer",tt5870084
1580405,Jonathan Dixon,nm9221580,actor,tt9060032
1580406,Peter Winkelhofer,nm9230783,"editor,director,actor",tt9546730
1580407,Buddika Mangala,nm9233295,"cinematographer,assistant_director",tt9830862
1580408,Anthony Penney,nm9237076,"director,casting_director,actor",tt7733384
1580409,Pamela Falkenberg,nm9239851,"director,producer,cinematographer",tt8888176
1580410,Danny Ballester,nm9243938,"camera_department,actor",tt7369550
1580411,Bülent Ergün,nm9249517,actor,tt6942048
1580412,Hong Liu,nm9264330,"sound_department,music_department,actor",tt7365576
1580413,Nuo Li,nm9268257,"music_department,sound_department,actress",tt7600270
1580414,P. Arooran,nm9269367,producer,tt9395528
1580415,Ali Khan,nm9271906,"director,manager",tt7461262
1580416,Borhan Khan,nm9272116,"director,writer,composer",tt8385184
1580417,Laya Sangraula,nm9278373,actor,tt8847252
1580418,Jared Jones,nm9281203,"camera_department,cinematographer,visual_effects",tt7349926
1580419,Anibal Nobel,nm9289117,"actor,miscellaneous",tt8079886
...,...,...,...,...
1580460,Bobby Vemuri,nm9722778,"assistant_director,writer",tt1435462
1580461,Louise Labeque,nm9737150,actress,tt8212614
1580462,Niklas Hoffmann,nm9760278,"writer,director,sound_department",tt5546156
1580463,Shivaji Raja,nm9767414,"actor,director",tt9468644
1580464,Robert J Morgalo,nm9773818,"actor,producer,writer",tt8984530
1580465,Kiran Das,nm9909583,editor,tt6409416
1580466,Roberto Farías,nm9928618,"actor,director,writer",tt4375438
1580467,Donny Pangilinan,nm9937856,actor,tt8880826
1580468,Witri Asmaida,nm9942718,actress,tt8638476
1580469,Jeremy Bradshaw,nm9943777,"actor,cinematographer,producer",tt9133458
1580470,Hsin-Yen Hsu,nm9951829,actress,tt6270494
1580471,Rama Narayanan,nm9980896,"director,writer",tt8929818
1580472,Layla Louise,nm9989854,"actress,stunts",tt8894778
1580473,John Zuker,nm0958522,"composer,music_department,soundtrack",tt4458594
1580474,Drew Lightfoot,nm0509978,"director,animation_department,writer",tt4267512
1580475,Viktor Dement,nm0218305,"writer,director,actor",tt5289800
1580476,Yûji Abe,nm1240761,actor,tt7707950
1580477,Lisa Holmqvist,nm1202937,"costume_department,costume_designer,composer",tt1588342
1580478,Sanedria Potter-Holt,nm2829835,"producer,writer,director",tt9264928
1580479,Marcia Griffiths,nm1463681,"actress,soundtrack",tt8184794
1580480,Celine Held,nm3961122,"actress,writer,producer",tt7352856
1580481,Mark Morton,nm2206015,"actor,composer,music_department",tt0780524
1580482,Stefano Casertano,nm6301223,"writer,producer,director",tt4108178
1580483,Ana Dumitrescu,nm4291122,"director,cinematographer,writer",tt3876732
1580484,Mariya Somova,nm5381719,"editor,director,writer",tt6212850
1580485,Rakesh Adiga,nm5923758,"actor,director,writer",tt10366330
1580486,Joe Nicolosi,nm7172326,"actor,transportation_department",tt4949676
1580487,Ben Kawaller,nm8745061,"actor,writer",tt8374098
1580488,Lisa Holmqvist,nm1202937,"costume_department,costume_designer,composer",tt5698320
1580489,Ana Dumitrescu,nm4291122,"director,cinematographer,writer",tt4921464

In [12]:
imdb_names_melt.duplicated().sum()

0

In [13]:
imdb_names_melt.loc[imdb_names_melt['nconst']=='nm4291122']

           primary_name     nconst               primary_profession      value
284596   Ana Dumitrescu  nm4291122  director,cinematographer,writer  tt1280016
792292   Ana Dumitrescu  nm4291122  director,cinematographer,writer  tt3876730
1174594  Ana Dumitrescu  nm4291122  director,cinematographer,writer  tt2329998
1498479  Ana Dumitrescu  nm4291122  director,cinematographer,writer  tt6721826
1580483  Ana Dumitrescu  nm4291122  director,cinematographer,writer  tt3876732
1580489  Ana Dumitrescu  nm4291122  director,cinematographer,writer  tt4921464

In [14]:
imdb_names_melt.rename(columns={'value': 'movie_titles'}, inplace=True)

In [15]:
imdb_names_melt.head()

,primary_name,nconst,primary_profession,movie_titles
0,Mary Ellen Bauder,nm0061671,"miscellaneous,production_manager,producer",tt0837562
1,Joseph Bauer,nm0061865,"composer,music_department,sound_department",tt0896534
2,Bruce Baum,nm0062070,"miscellaneous,actor,writer",tt1470654
3,Axel Baumann,nm0062195,"camera_department,cinematographer,art_department",tt0114371
4,Pete Baxter,nm0062798,"production_designer,art_department,set_decorator",tt0452644

In [19]:
imdb_names_melt.to_csv('data/imdb_names_update')