In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Import Datasets
imdb_names = pd.read_csv('data/imdb_names_update', index_col='tconst')
imdb_titles = pd.read_csv('data/imdb_titles', index_col='tconst')
imdb_tn_budgets = pd.read_csv('data/tn_movies_bud_update')

In [3]:
# Drop 'unnamed: 0' column from tn_movie_budget dataframe
imdb_tn_budgets.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
imdb_names.head()

,primary_name,nconst,primary_profession
tconst,,,
tt0837562,Mary Ellen Bauder,nm0061671,"miscellaneous,production_manager,producer"
tt0896534,Joseph Bauer,nm0061865,"composer,music_department,sound_department"
tt1470654,Bruce Baum,nm0062070,"miscellaneous,actor,writer"
tt0114371,Axel Baumann,nm0062195,"camera_department,cinematographer,art_department"
tt0452644,Pete Baxter,nm0062798,"production_designer,art_department,set_decorator"

In [5]:
imdb_titles.head()

,primary_title,original_title,start_year,runtime_minutes,genres,genres_1,genres_2,genres_3
tconst,,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Action,Crime,Drama
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,Drama,NaN,NaN
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",Comedy,Drama,NaN
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",Comedy,Drama,Fantasy
tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy,Comedy,NaN,NaN

In [6]:
imdb_tn_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,remade,international_gross,online_release,release_year
0,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,False,804600000,False,2011
1,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,False,944008095,False,2015
2,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,False,696540365,False,2017
3,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,False,1116648995,False,2015
4,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,False,1369318718,False,2018

### 1. Join Dataframes

Join imdb_titles and imdb_names dataframes

In [10]:
imdb_titles_names = imdb_titles.join(imdb_names, how='inner')
imdb_titles_names.head()

,primary_title,original_title,start_year,runtime_minutes,genres,genres_1,genres_2,genres_3,primary_name,nconst,primary_profession
tconst,,,,,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Action,Crime,Drama,Mahasweta Devi,nm1194313,writer
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Action,Crime,Drama,Anjana Rawail,nm1391276,"writer,costume_designer"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,Drama,NaN,NaN,Oja Kodar,nm0462648,"actress,writer,director"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,Drama,NaN,NaN,Tom Callaway,nm1152466,"cinematographer,camera_department"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,Drama,NaN,NaN,Dax Phelan,nm3902034,"writer,producer,director"

In [11]:
imdb_titles_names.info()

<class 'pandas.core.frame.DataFrame'>
Index: 713875 entries, tt0063540 to tt9916754
Data columns (total 11 columns):
primary_title         713875 non-null object
original_title        713875 non-null object
start_year            713875 non-null int64
runtime_minutes       610442 non-null float64
genres                701879 non-null object
genres_1              701879 non-null object
genres_2              381528 non-null object
genres_3              216250 non-null object
primary_name          713875 non-null object
nconst                713875 non-null object
primary_profession    713875 non-null object
dtypes: float64(1), int64(1), object(9)
memory usage: 65.4+ MB

Join imdb_titles_names dataframe with imdb_tn_budgets